<html>
    <head>
        <title>CSS Basics</title>
    </head>
    <body>
        <div id="container">
            <div id="top-bar">
                <div class="fixed-width">
                    <div id="bbc-logo">
                        <div id="Sign-in">
                            <div id="top-menu">
                                <p>Sign In</p>
                                <ul>
                                    <li id="news">News</li>
                                    <li id="sports">Sports</li>
                                    <li id="weather">Weather</li>
                                    <li id="iplayer">Iplayer</li>
                                    <li class="white-border">TV</li>
                                    <li class="white-border">Radio</li>
                                    <li class="white-border">More</li>
                                    <li>
                                        <input type="text" placeholder="Serach">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear">
            <div id="title-bar">
                <div class="fixed-width">
                    <div id="news-title">News</div>
                    <div id="date">
                        <p><strong>11 March 2020 </strong>Last updated at 03:00</p>
                    </div>
                    <div id="rss"></div>
                    <div class="clear"></div>
                    <div id="news-menu">
                        <ul>
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <a href="">Ekonomi</a>
                            </li>
                            <li>
                                <a href="">Sport</a>
                            </li>
                            <li>
                                <a href="">Fashion</a>
                            </li>
                            <li>
                                <a href="">Politike</a>
                            </li>
                            <li>
                                <a href="">Shendetesi</a>
                            </li>
                            <li>
                                <a href="">Teknologji</a>
                            </li>
                            <li>
                                <a href="">Art</a>
                            </li>
                            <li>
                                <a href="">Fashion</a>
                            </li>
                            <li>
                                <a href="">Lojra</a>
                            </li>
                            <li>
                                <a href="">Kuzhina</a>
                            </li>
                            <li>
                                <a href="">Auto</a>
                            </li>
                            <li style="border-right:none">
                                <a href="">Kulture</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>